

 body {
    background: linear-gradient(180deg, rgb(84, 84, 168), rgb(61, 59, 59));
    background-attachment: fixed;
    font-family: "Audiowide", sans-serif;
    ;
    }
   
   
h1 {
   text-align: center 
    };

ul {  
   background-color: #070000;
}

li a {
  display: block;
 
  block-size: auto;
}

li a:hover {
  background-color: rgb(82, 60, 223);
  }

#kaispic {
  border-radius: 50%;
  height: 5%;
  width: 5%;
}

.main{
  width: 100%;
  height: 100%;
}

.navbar{
  width: 20%;
  margin-right: 20px;
}
.text{
   margin: auto;
   word-wrap: break-word;
   margin-left: 900px;
   width: 300px;
        
}
footer {
  text-align: center;
  padding: 0;
  background-color: rgb(61, 59, 59); 
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  }


.blogtitle{
  text-align: justify;
  width: 800px;

}
.blogtext{
color: rgba(218, 211, 232, 0.386);
text-align: left;
width: 800px;
}

#blogimg{
  width:800px;
}
figcaption {
 width: 800px;
  color: white;
  
  padding: 0px;
  text-align: center;
}
